<label for="new-ingredient">Ingredientes</label>
<input
    id="new-ingredient"
    type="text"
    placeholder="Nombre ingrediente"
    class="u-full-width"
    ng-model="$ctrl.ingredient.name"
    ng-keydown="$ctrl.pressedKey($event)">
<!-- ng-show shows if expression is evaluated to true and ng-hide reverse -->
<!-- ng-if doesn't write code if expression is false -->
<table class="u-full-width" ng-show="($ctrl.ingredients.length > 0)">
    <thead>
        <tr>
            <th>Ingrediente</th>
            <th colspan="2">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ingredient in $ctrl.ingredients">
            <td>{{ ingredient.name }}</td>
            <td>
                <input type="number" ng-model="ingredient.quantity" min="1">
            </td>
            <td>
                <!-- $index given by Angular on ng-repeat -->
                <button ng-click="$ctrl.notifyDelete($index)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>