<div class="row">
    <div class="twelve columns">
        <input type="text" ng-model="filterRecipe">
        <table class="u-full-width">
            <tbody>
                <tr ng-repeat="recipe in $ctrl.recipes | filter:filterRecipe | orderBy:'name'">
                <!-- To filter only by name -->
                <!--tr ng-repeat="recipe in $ctrl.recipes | filter:{ name: filterRecipe}"-->
                    <!-- Also available orderBy -->
                    <!-- Filters can be concatenated -->
                    <td>
                        <div ng-click="recipe.show = !recipe.show">
                            {{ recipe.name }}
                        </div>
                        <div ng-hide="recipe.show">
                            <small>
                                {{ recipe.ingredients | IngredientsResume }}
                            </small>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--ul>
            <li ng-repeat="recipe in $ctrl.recipes">{{ recipe.name }}</li>
        </ul-->
    </div>
</div>
